
@font-face {
  font-family : 'Overpass';
  src: url('./assets/fonts/Overpass.ttf') format('truetype');
}

@font-face {
  font-family : 'Quicksilver';
  src: url('./assets/fonts/Quicksilver.ttf') format('truetype');
}

a{
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
  font-family: 'Overpass', monospace;
  overflow-x:  hidden;
  padding: 0;
  margin: 0;
  transition: 1s;
}

#banner {
  top: 0;
  left: 0;
  position: fixed;
  padding: 0 10% 0 10%;
  width: 100%;
  height: 4%;
  background-color: white;
  padding: 2em;
  overflow: hidden;
  border-bottom: 1em solid black
}

#banner a{
  padding: 0 12% 0 12%;
  font-size: 1.5em;
  text-decoration: none;
}

#banner a:hover{
  background-color: grey;
  transform: scale(110%);
}

#nameContainer{
  font-family: 'Quicksilver';
  width: 80%;
  text-align: left;
  padding: 10%;
  font-size: 10em;
  font-weight: 200;
  color: white;
  background: linear-gradient(62deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 25%, rgba(252,176,69,1) 50%);
  border-radius: 0 0 95% 0;
}

#nameContainerSubtitle{
  color: rgba(20,20,20,0.9);
  font-size: 0.5em;
  font-weight: 100;
  font-family: 'Overpass';
  text-shadow: none;
}

#aboutMeContainer{
  font-family: 'Quicksilver';
  width: 100%;
  text-align: left;
  padding: 10%;
  font-size: 6em;
  font-weight: 200;
  color: white;
  background: black;
  border-radius: 30% 0 0 0;
}

#aboutMeContainerInfo{
  width: 60%;
  font-size: 0.2em;
  line-height: 3em;
  font-family: 'Overpass';
}

#aboutMeContainerInfo a{
  color: blue;
}
