
@font-face {
  font-family : 'Overpass';
  src: url('./assets/fonts/Overpass.ttf') format('truetype');
}

@font-face {
  font-family : 'Quicksilver';
  src: url('./assets/fonts/Quicksilver.ttf') format('truetype');
}

a{
  text-decoration: none;
  color: black;
}

body {
  background-color: white;
  font-family: 'Overpass', monospace;
  overflow-x:  hidden;
  padding: 0;
  margin: 0;
  transition: 1s;
}

#banner {
  top: 0;
  left: 0;
  position: fixed;
  padding: 0 10% 0 10%;
  width: 100%;
  height: 1%;
  background-color: white;
  padding: 2em;
  overflow: hidden;
  border-bottom: 1em solid black
}

#banner a{
  padding: 0 12% 0 12%;
  font-size: 1.5em;
  text-decoration: none;
}

#banner a:hover{
  background-color: grey;
  transform: translateX(10%);
}

#spacer{
  height: 30px;
}

#gearContainer1{
  position: absolute;
  right: 500px;
  transform: translateY(-140px);
  z-index: -1;
}

#gearContainer2{
  position: absolute;
  right: 275px;
  transform: translateY(-140px);
  z-index: -1;
  animation-direction: reverse;
  animation-delay: 0.25s;
}

#gearCenter{
  position: absolute;
  left:20px;
  top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: black;
}

#gearHollow{
  position: absolute;
  left:45px;
  top: 45px;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: white;
}

@keyframes cogTurn1{
  from {transform: rotate(0deg);}
  to {transform: rotate(180deg);}
}

@keyframes cogTurn2{
  from {transform: rotate(45deg);}
  to {transform: rotate(225deg);}
}

#gearCog1{
  position: absolute;
  width: 240px;
  height: 40px;
  background-color: black;
  top: 100px;
  animation-name: cogTurn1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: inherit;
  animation-delay: inherit;
}

#gearCog2{
  position: absolute;
  width: 40px;
  height: 240px;
  background-color: black;
  left: 100px;
  animation-name: cogTurn1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: inherit;
  animation-delay: inherit;
}

#gearCog3{
  position: absolute;
  width: 240px;
  height: 40px;
  background-color: black;
  top: 100px;
  transform: rotate(45deg);
  animation-name: cogTurn2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: inherit;
  animation-delay: inherit;
}

#gearCog4{
  position: absolute;
  width: 40px;
  height: 240px;
  background-color: black;
  left: 100px;
  transform: rotate(45deg);
  animation-name: cogTurn2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: inherit;
  animation-delay: inherit;
}

@keyframes nameContainerGradient{
  from {background: rgb(69,176,252);}
  to {background: rgb(252,12,69);}
}

#nameContainer{
  font-family: 'Quicksilver';
  letter-spacing: 0.1em;
  width: 50%;
  text-align: left;
  padding: 8%;
  padding-left: 4%;
  font-size: 5em;
  font-weight: 200;
  color: white;
  animation-name: nameContainerGradient;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background: linear-gradient(62deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 25%, rgba(252,176,69,1) 50%);
  border-radius: 0 0 95% 0;
}

#nameContainerSubtitle{
  color: rgba(20,20,20,0.9);
  font-size: 0.5em;
  font-weight: 100;
  font-family: 'Overpass';
  text-shadow: none;
  letter-spacing: normal;
}

#aboutMeContainer{
  font-family: 'Quicksilver';
  width: 100%;
  text-align: left;
  padding: 10%;
  font-size: 6em;
  font-weight: 200;
  color: white;
  background: black;
  border-radius: 30% 0 0 0;
}

#aboutMeContainerInfo{
  width: 60%;
  font-size: 0.2em;
  line-height: 3em;
  font-family: 'Overpass';
}

#aboutMeContainerInfo a{
  color: blue;
}

#leftSideProjectContainer {
  font-family: 'Quicksilver';
  float: left;
  width: 60%;
  text-align: left;
  padding: 10%;
  font-size: 6vw;
  font-weight: 400;
  color: white;
  background: black;
}

#leftSideProjectContainer img {
  border-radius: 3%;
  width: 49%;
}

#leftSideProjectContainer a {
  color: blue;
}

#rightSideProjectContainer {
  font-family: 'Quicksilver';
  float: right;
  width: 60%;
  text-align: left;
  padding: 10%;
  font-size: 6vw;
  font-weight: 400;
  color: white;
  background: black;
}

#rightSideProjectContainer a {
  color: blue;
}

#projectContainerInfo {
  font-family: 'Overpass';
  font-size: 0.2em;
  font-weight: 200;
}
